@model Vanharmelen_FinalProject.Models.Product
@{
    ViewBag.Title = "Upsert";
}
<h2>Add a Product</h2>
@using (Html.BeginForm("Upsert", "Product", FormMethod.Post))
{


    @Html.LabelFor(p => p.ProductCode, htmlAttributes: new { @class = "control-label col-md-2" });
    @Html.TextBoxFor(p => p.ProductCode, new { @class = "form-control" })

    @Html.LabelFor(p => p.Description, htmlAttributes: new { @class = "control-label col-md-2" });
    @Html.TextBoxFor(p => p.Description, new { @class = "form-control" })


    @Html.LabelFor(p => p.UnitPrice, htmlAttributes: new { @class = "control-label col-md-2" });
    // @Html.TextBoxFor(p => p.UnitPrice, new { @class = "form-control" })
    <input type="number" name="Product.UnitPrice" class="form-control" />

    @Html.LabelFor(p => p.OnHandQuantity, htmlAttributes: new { @class = "control-label col-md-2" });
    //  @Html.TextBoxFor(p => p.OnHandQuantity, new { @class = "form-control" })
    <input type="number" name="Product.OnHandQuantity" class="form-control" />

    <input type="submit" value="submit" class="btn btn-info" />
}