@model Vanharmelen_FinalProject.Models.UpsertCustomersModel
@{
    ViewBag.Title = "Upsert";
}
<h2>Add a Customer</h2>
@using (Html.BeginForm("Upsert", "Customers", FormMethod.Post))
{

    @Html.HiddenFor(c => c.Customer.CustomerID)

    @Html.LabelFor(c => c.Customer.Name, htmlAttributes: new { @class = "control-label col-md-2" });
    @Html.TextBoxFor(c => c.Customer.Name, new { @class = "form-control" })


    @Html.LabelFor(c => c.Customer.Address, htmlAttributes: new { @class = "control-label col-md-2" });
    @Html.TextBoxFor(c => c.Customer.Address, new { @class = "form-control" })


    @Html.LabelFor(c => c.Customer.City, htmlAttributes: new { @class = "control-label col-md-2" });
    @Html.TextBoxFor(c => c.Customer.City, new { @class = "form-control" })


    @Html.LabelFor(c => c.Customer.State, htmlAttributes: new { @class = "control-label col-md-2" });
    <select class="form-control" name="Customer.State">
        @foreach (var state in Model.States)
        {
            <option value="@state.StateCode">@state.StateCode</option>
        }
    </select>

    @Html.LabelFor(c => c.Customer.ZipCode, htmlAttributes: new { @class = "control-label col-md-2" });
    @Html.TextBoxFor(c => c.Customer.ZipCode, new { @class = "form-control" })
    <input type="submit" value="submit" class="btn btn-info" />

    //<input type="button" value="delete" class="btn btn-danger" onclick="apiHandler.DELETE('/Customers/Delete/@Model.Customer.CustomerID');" />

}
